@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0c1022;
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
}

.logo {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  pointer-events: none;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
}

.navbar a {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  margin-left: 35px;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.navbar a.active,
.navbar a:hover {
  background: linear-gradient(45deg, #f06, #3cf);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 10% 0;
}

.home-content {
  max-width: 500px;
  margin-left: 30px;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.home-content p {
  font-size: 16px;
  margin: 20px 0 40px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1.3s;
}

.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 48px;
  border-radius: 40px;
  font-size: 19px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 1.8s;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: linear-gradient(45deg, #f06, #3cf, #f06);
  background-size: 200%;
  background-position: 0 0;
  z-index: -1;
  border-radius: 40px;
  filter: blur(5px);
  transition: 0.5s ease;
}

.btn:hover::before {
  background-position: 100% 0;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  background: linear-gradient(45deg, #f06, #3cf, #f06);
  background-position: 0 0;
  background-size: 200%;
  z-index: -1;
  border-radius: 40px;
  transition: 0.5s ease;
}

.btn:hover::after {
  background-position: 100% 0;
}

.home-sci a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: linear-gradient(45deg, #f06, #3cf);
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  margin: 20px 0;
  z-index: 1;
}

.home-sci a:nth-child(1) {
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 2.1s;
}

.home-sci a:nth-child(2) {
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 2.1s;
}

.home-sci a:nth-child(3) {
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2.1s;
}

.home-sci a:nth-child(4) {
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 2.1s;
}

.home-sci a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #f06, #3cf);
  border-radius: 50%;
  z-index: -1;
  transition: 0.5s ease;
}

.home-sci a:hover::before {
  filter: blur(5px);
}

.home-sci a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0c1022;
  border-radius: 50%;
  transform: scale(0.88);
  z-index: -1;
  transition: 0.5s ease;
}

.home-sci a:hover::after {
  transform: scale(0);
}

.home-img {
  width: 410px;
  height: 410px;
  position: relative;
  opacity: 0;
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay: 2.1s, 3.1s;
}

.home-img .glowing-circle {
  position: relative;
  width: 71%;
  height: 97%;
  background: linear-gradient(#f06, #3cf);
  border-radius: 58%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-img .glowing-circle::before {
  content: "";
  position: absolute;
  width: 264px;
  height: 373px;
  background: #0c1022;
  border-radius: 50%;
}

.glowing-circle span:nth-child(1) {
  filter: blur(10px);
}

.glowing-circle span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#f06, #3cf);
  animation: circleRotate 5s linear infinite;
}

.image img {
  height: auto;
  width: 56%;
  margin-top: -6px;
  padding: 20px;
  border: 1px solid red;
  position: absolute;
  border: 0px solid;
  top: 7px;
  left: 37%;
  transform: translateX(-50%);
  max-width: 350px;
  object-fit: cover;
}

@keyframes slideTop {
  0% {
    opacity: 0;
    transform: translate(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes slideBottom {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* -------------------- Mobile View -------------------- */
.menu-btn {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: #fff;
  z-index: 101;
}

/* Mobile view */
/* -------------------- MOBILE RESPONSIVENESS -------------------- */

@media (max-width: 768px) {
  /* Header */
  .header {
    padding: 15px 7%;
  }

  /* Home Section */
  .home {
    flex-direction: column;
    text-align: center;
    padding: 130px 7% 50px;
    gap: 50px;
  }

  .home-content {
    margin: 0;
    max-width: 100%;
  }

  /* Image */
  .home-img {
    width: 260px;
    height: 260px;
    margin: auto;
  }

  .home-img .glowing-circle::before {
    width: 88%;
    height: 88%;
  }

  /* Social Icons */
  .home-sci {
    display: flex;
    justify-content: center;
    gap: 25px;
  }

  .home-sci a {
    margin: 0;
  }

  /* Mobile Menu Button */
  .menu-btn {
    display: block;
    font-size: 28px;
    cursor: pointer;
    color: #fff;
    z-index: 999;
  }

  /* Mobile Navbar */
  .navbar {
    position: fixed;
    top: 60px;
    right: -100%;
    width: 230px;
    height: 100vh;
    background: rgba(12, 16, 34, 0.96);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    transition: right 0.3s ease;
    z-index: 998;
  }

  .navbar.active {
    right: 0;
  }

  .navbar a {
    width: 100%;
    padding: 10px 4px;
    font-size: 18px;
  }
  
  .home-img .glowing-circle {
    position: relative;
    width: 94%;
    height: 93%;
    background: linear-gradient(#f06, #3cf);
    border-radius: 58%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image img {
    height: auto;
    width: 60%;
    padding: 20px;
    border: 1px solid red;
    position: absolute;
    border: 0px solid;
    top: 8px;
    left: 48%;
    transform: translateX(-50%);
    max-width: 350px;
    object-fit: cover;
  }
}
